In [7]:
datasets = ["journal_jcr_cls", "movies", "michelin", "spotify", "employee_salary", "museums", "fifa_footballplayers_22", "jp_anime", "clear_corpus", "company_employees", "us_presidential", "us_accidents_severity", "us_accidents_counts", "wine_review"]
datasets.extend(["building_permits", "agora", "public", "kickstarter", "medical_charge", "traffic_violations"])
datasets.extend(["bikewale", "goodreads", "zomato", "nfl_contract", "employee-remuneration-and-expenses-earning-over-75000", "ramen_ratings", "beer_profile_and_ratings", "adult"])

In [9]:
# coffee_analysis, met_object and drug_directory could be integrated if we deal better with multiple classes

In [10]:
len(datasets)

28

In [60]:
from skrub import TableVectorizer
def return_features(X, encoder_name, dataset_name=None, use_cache=True, override_cache=False, cardinality_threshold=30, fail_if_not_cached=False):
    tb = TableVectorizer(cardinality_threshold=cardinality_threshold,
                        high_card_cat_transformer = "passthrough",
                        low_card_cat_transformer = "passthrough",
                        numerical_transformer = "passthrough",
                        datetime_transformer = "passthrough",
    ) #just to get the high cardinality columns
    tb.fit(X)
    res = [(name, cols) for (name, _, cols) in tb.transformers_]
    return res

In [68]:
import pandas as pd
from src.data_loading import load_data

# Initialize an empty DataFrame to store the features
features_df = pd.DataFrame()

for dataset_name in datasets:
    # Load the data
    X, y = load_data(dataset_name, max_rows=10_000)

    # Get the high cardinality and other features
    tuples = return_features(X, 'encoder_name', dataset_name)

    res = {'dataset': dataset_name}
    for (name, col) in tuples:
        # remove _transformer suffix
        name_ = name[-len("_transformer"):]
        if name_ == "high_card_cat":
            name_ =  "text"
        res[name] = ", ".join(col)
    print(res)

    # Create a temporary DataFrame to store the features for this dataset
    for key in res:
        res[key] = [res[key]] if not isinstance(res[key], list) else res[key]

    temp_df = pd.DataFrame(res)

    # Append the temporary DataFrame to the main DataFrame
    features_df = pd.concat([features_df, temp_df], ignore_index=True)


    print(features_df)

Removed 0 columns with missing values on 5 columns
Removed 485 rows with missing values on 5710 rows
Removed 485 rows with missing values on 5225 rows
Removed 0 columns with missing values on 4 columns
New shape: (5225, 5)
Original task: classification for journal_jcr_cls
Classes (array([0, 1]), array([2905, 2320]))
X shape: (5225, 5), y shape: (5225,)
{'dataset': 'journal_jcr_cls', 'numeric': '%_of_OA_Gold', 'high_card_cat': 'name, ISSN, eISSN, Category'}
           dataset       numeric                high_card_cat
0  journal_jcr_cls  %_of_OA_Gold  name, ISSN, eISSN, Category
Removed 0 columns with missing values on 10 columns
Removed 325 rows with missing values on 6207 rows
Removed 325 rows with missing values on 5882 rows
Removed 0 columns with missing values on 9 columns
New shape: (5882, 10)
Original task: regression for movies
Converting to binary classification
Classes (array([0, 1]), array([2941, 2941]))
X shape: (5882, 10), y shape: (5882,)
{'dataset': 'movies', 'numeric': 'budget, popularity, release_date, vote_average, vote_count', 'low_card_cat': 'genres', 'high_card_cat': 'original_language, production_companies, production_countries, name'}
           dataset                                            numeric  \
0  journal_jcr_cls                                       %_of_OA_Gold
1           movies  budget, popularity, release_date, vote_average...

                                       high_card_cat low_card_cat
0                        name, ISSN, eISSN, Category          NaN
1  original_language, production_companies, produ...       genres
Removed 0 columns with missing values on 4 columns
Removed 47 rows with missing values on 6832 rows
Removed 47 rows with missing values on 6785 rows
Removed 0 columns with missing values on 3 columns
New shape: (6785, 4)
Original task: classification for michelin
Classes (array([0, 1]), array([3341, 3444]))
X shape: (6785, 4), y shape: (6785,)
{'dataset': 'michelin', 'high_card_cat': 'name, Location, Cuisine, Facilities and Services'}
           dataset                                            numeric  \
0  journal_jcr_cls                                       %_of_OA_Gold
1           movies  budget, popularity, release_date, vote_average...
2         michelin                                                NaN

                                       high_card_cat low_card_cat
0                        name, ISSN, eISSN, Category          NaN
1  original_language, production_companies, produ...       genres
2   name, Location, Cuisine, Facilities and Services          NaN
Removed 0 columns with missing values on 17 columns
Removed 0 rows with missing values on 41099 rows
Removed 0 rows with missing values on 41099 rows
Removed 0 columns with missing values on 16 columns
New shape: (41099, 17)
Original task: classification for spotify
Classes (array([0, 1]), array([20551, 20548]))
X shape: (10000, 17), y shape: (10000,)
{'dataset': 'spotify', 'numeric': 'danceability, energy, key, loudness, speechiness, acousticness, instrumentalness, liveness, valence, tempo, duration_ms, time_signature, chorus_hit, sections', 'low_card_cat': 'mode', 'high_card_cat': 'name, artist'}
           dataset                                            numeric  \
0  journal_jcr_cls                                       %_of_OA_Gold
1           movies  budget, popularity, release_date, vote_average...
2         michelin                                                NaN
3          spotify  danceability, energy, key, loudness, speechine...

                                       high_card_cat low_card_cat
0                        name, ISSN, eISSN, Category          NaN
1  original_language, production_companies, produ...       genres
2   name, Location, Cuisine, Facilities and Services          NaN
3                                       name, artist         mode
Removed 0 columns with missing values on 8 columns
Removed 17 rows with missing values on 9228 rows
Removed 17 rows with missing values on 9211 rows
Removed 0 columns with missing values on 7 columns
New shape: (9211, 8)
Original task: regression for employee_salary
Converting to binary classification
Classes (array([0, 1]), array([4606, 4605]))
X shape: (9211, 8), y shape: (9211,)
{'dataset': 'employee_salary', 'numeric': 'year_first_hired', 'datetime': 'date_first_hired', 'low_card_cat': 'gender, assignment_category', 'high_card_cat': 'department, department_name, division, employee_position_title'}
           dataset                                            numeric  \
0  journal_jcr_cls                                       %_of_OA_Gold
1           movies  budget, popularity, release_date, vote_average...
2         michelin                                                NaN
3          spotify  danceability, energy, key, loudness, speechine...
4  employee_salary                                   year_first_hired

                                       high_card_cat  \
0                        name, ISSN, eISSN, Category
1  original_language, production_companies, produ...
2   name, Location, Cuisine, Facilities and Services
3                                       name, artist
4  department, department_name, division, employe...

                  low_card_cat          datetime
0                          NaN               NaN
1                       genres               NaN
2                          NaN               NaN
3                         mode               NaN
4  gender, assignment_category  date_first_hired
Removed 0 columns with missing values on 7 columns
Removed 15 rows with missing values on 11467 rows
Removed 15 rows with missing values on 11452 rows
Removed 0 columns with missing values on 6 columns
New shape: (11452, 7)
Original task: regression for museums
Converting to binary classification
Classes (array([0, 1]), array([5726, 5726]))
X shape: (10000, 7), y shape: (10000,)
{'dataset': 'museums', 'numeric': 'Zip_Code, Locale_Code, Region_Code', 'low_card_cat': 'Museum_Type', 'high_card_cat': 'name, Cite, State'}
           dataset                                            numeric  \
0  journal_jcr_cls                                       %_of_OA_Gold
1           movies  budget, popularity, release_date, vote_average...
2         michelin                                                NaN
3          spotify  danceability, energy, key, loudness, speechine...
4  employee_salary                                   year_first_hired
5          museums                 Zip_Code, Locale_Code, Region_Code

                                       high_card_cat  \
0                        name, ISSN, eISSN, Category
1  original_language, production_companies, produ...
2   name, Location, Cuisine, Facilities and Services
3                                       name, artist
4  department, department_name, division, employe...
5                                  name, Cite, State

                  low_card_cat          datetime
0                          NaN               NaN
1                       genres               NaN
2                          NaN               NaN
3                         mode               NaN
4  gender, assignment_category  date_first_hired
5                  Museum_Type               NaN
Removed 0 columns with missing values on 13 columns
Removed 0 rows with missing values on 19165 rows
Removed 0 rows with missing values on 19165 rows
Removed 0 columns with missing values on 12 columns
New shape: (19165, 13)
Original task: regression for fifa_footballplayers_22
Converting to binary classification
Classes (array([0, 1]), array([9650, 9515]))
X shape: (10000, 13), y shape: (10000,)
{'dataset': 'fifa_footballplayers_22', 'numeric': 'overall, age, height, weight, international_reputation', 'low_card_cat': 'preferred_foot, work_rate, body_type', 'high_card_cat': 'name, player_positions, club_name, league_name, nationality_name'}
                   dataset                                            numeric  \
0          journal_jcr_cls                                       %_of_OA_Gold
1                   movies  budget, popularity, release_date, vote_average...
2                 michelin                                                NaN
3                  spotify  danceability, energy, key, loudness, speechine...
4          employee_salary                                   year_first_hired
5                  museums                 Zip_Code, Locale_Code, Region_Code
6  fifa_footballplayers_22  overall, age, height, weight, international_re...

                                       high_card_cat  \
0                        name, ISSN, eISSN, Category
1  original_language, production_companies, produ...
2   name, Location, Cuisine, Facilities and Services
3                                       name, artist
4  department, department_name, division, employe...
5                                  name, Cite, State
6  name, player_positions, club_name, league_name...

                           low_card_cat          datetime
0                                   NaN               NaN
1                                genres               NaN
2                                   NaN               NaN
3                                  mode               NaN
4           gender, assignment_category  date_first_hired
5                           Museum_Type               NaN
6  preferred_foot, work_rate, body_type               NaN
Removed 0 columns with missing values on 9 columns
Removed 4231 rows with missing values on 15279 rows
Removed 4231 rows with missing values on 11048 rows
Removed 0 columns with missing values on 8 columns
New shape: (11048, 9)
Original task: regression for jp_anime
Converting to binary classification
Classes (array([0, 1]), array([5532, 5516]))
X shape: (10000, 9), y shape: (10000,)
{'dataset': 'jp_anime', 'numeric': 'episodes, favorites, members', 'low_card_cat': 'type, Source, Rating', 'high_card_cat': 'name, genres, studios'}
                   dataset                                            numeric  \
0          journal_jcr_cls                                       %_of_OA_Gold
1                   movies  budget, popularity, release_date, vote_average...
2                 michelin                                                NaN
3                  spotify  danceability, energy, key, loudness, speechine...
4          employee_salary                                   year_first_hired
5                  museums                 Zip_Code, Locale_Code, Region_Code
6  fifa_footballplayers_22  overall, age, height, weight, international_re...
7                 jp_anime                       episodes, favorites, members

                                       high_card_cat  \
0                        name, ISSN, eISSN, Category
1  original_language, production_companies, produ...
2   name, Location, Cuisine, Facilities and Services
3                                       name, artist
4  department, department_name, division, employe...
5                                  name, Cite, State
6  name, player_positions, club_name, league_name...
7                              name, genres, studios

                           low_card_cat          datetime
0                                   NaN               NaN
1                                genres               NaN
2                                   NaN               NaN
3                                  mode               NaN
4           gender, assignment_category  date_first_hired
5                           Museum_Type               NaN
6  preferred_foot, work_rate, body_type               NaN
7                  type, Source, Rating               NaN
Removed 0 columns with missing values on 18 columns
Removed 278 rows with missing values on 4724 rows
Removed 278 rows with missing values on 4446 rows
Removed 0 columns with missing values on 17 columns
New shape: (4446, 18)
Original task: regression for clear_corpus
Converting to binary classification
Classes (array([0, 1]), array([2223, 2223]))
X shape: (4446, 18), y shape: (4446,)
{'dataset': 'clear_corpus', 'numeric': 'Google_WC, Sentence_Count, Paragraphs, Flesch-Reading-Ease, Flesch-Kincaid-Grade-Level, Automated_Readability_Index, SMOG_Readability, New_Dale-Chall_Readability_Formula, CAREC, CAREC_M, CML2RI', 'low_card_cat': 'Categ, Lexile_Band, Location, MPAA_Max', 'high_card_cat': 'Author, name, Pub_Year'}
                   dataset                                            numeric  \
0          journal_jcr_cls                                       %_of_OA_Gold
1                   movies  budget, popularity, release_date, vote_average...
2                 michelin                                                NaN
3                  spotify  danceability, energy, key, loudness, speechine...
4          employee_salary                                   year_first_hired
5                  museums                 Zip_Code, Locale_Code, Region_Code
6  fifa_footballplayers_22  overall, age, height, weight, international_re...
7                 jp_anime                       episodes, favorites, members
8             clear_corpus  Google_WC, Sentence_Count, Paragraphs, Flesch-...

                                       high_card_cat  \
0                        name, ISSN, eISSN, Category
1  original_language, production_companies, produ...
2   name, Location, Cuisine, Facilities and Services
3                                       name, artist
4  department, department_name, division, employe...
5                                  name, Cite, State
6  name, player_positions, club_name, league_name...
7                              name, genres, studios
8                             Author, name, Pub_Year

                             low_card_cat          datetime
0                                     NaN               NaN
1                                  genres               NaN
2                                     NaN               NaN
3                                    mode               NaN
4             gender, assignment_category  date_first_hired
5                             Museum_Type               NaN
6    preferred_foot, work_rate, body_type               NaN
7                    type, Source, Rating               NaN
8  Categ, Lexile_Band, Location, MPAA_Max               NaN
Removed 0 columns with missing values on 6 columns
Removed 1378 rows with missing values on 4769 rows
Removed 1378 rows with missing values on 3391 rows
Removed 0 columns with missing values on 5 columns
New shape: (3391, 6)
Original task: classification for company_employees
Classes (array([0, 1]), array([1709, 1682]))
X shape: (3391, 6), y shape: (3391,)
{'dataset': 'company_employees', 'numeric': 'year_founded', 'high_card_cat': 'name, domain, industry, locality, linkedin_url'}
                   dataset                                            numeric  \
0          journal_jcr_cls                                       %_of_OA_Gold
1                   movies  budget, popularity, release_date, vote_average...
2                 michelin                                                NaN
3                  spotify  danceability, energy, key, loudness, speechine...
4          employee_salary                                   year_first_hired
5                  museums                 Zip_Code, Locale_Code, Region_Code
6  fifa_footballplayers_22  overall, age, height, weight, international_re...
7                 jp_anime                       episodes, favorites, members
8             clear_corpus  Google_WC, Sentence_Count, Paragraphs, Flesch-...
9        company_employees                                       year_founded

                                       high_card_cat  \
0                        name, ISSN, eISSN, Category
1  original_language, production_companies, produ...
2   name, Location, Cuisine, Facilities and Services
3                                       name, artist
4  department, department_name, division, employe...
5                                  name, Cite, State
6  name, player_positions, club_name, league_name...
7                              name, genres, studios
8                             Author, name, Pub_Year
9     name, domain, industry, locality, linkedin_url

                             low_card_cat          datetime
0                                     NaN               NaN
1                                  genres               NaN
2                                     NaN               NaN
3                                    mode               NaN
4             gender, assignment_category  date_first_hired
5                             Museum_Type               NaN
6    preferred_foot, work_rate, body_type               NaN
7                    type, Source, Rating               NaN
8  Categ, Lexile_Band, Location, MPAA_Max               NaN
9                                     NaN               NaN
Removed 0 columns with missing values on 5 columns
Removed 0 rows with missing values on 21864 rows
Removed 0 rows with missing values on 21864 rows
Removed 0 columns with missing values on 4 columns
New shape: (21864, 5)
Original task: regression for us_presidential
Converting to binary classification
Classes (array([0, 1]), array([10938, 10926]))
X shape: (10000, 5), y shape: (10000,)
{'dataset': 'us_presidential', 'low_card_cat': 'candidate, party', 'high_card_cat': 'state, state_po, name'}
                    dataset  \
0           journal_jcr_cls
1                    movies
2                  michelin
3                   spotify
4           employee_salary
5                   museums
6   fifa_footballplayers_22
7                  jp_anime
8              clear_corpus
9         company_employees
10          us_presidential

                                              numeric  \
0                                        %_of_OA_Gold
1   budget, popularity, release_date, vote_average...
2                                                 NaN
3   danceability, energy, key, loudness, speechine...
4                                    year_first_hired
5                  Zip_Code, Locale_Code, Region_Code
6   overall, age, height, weight, international_re...
7                        episodes, favorites, members
8   Google_WC, Sentence_Count, Paragraphs, Flesch-...
9                                        year_founded
10                                                NaN

                                        high_card_cat  \
0                         name, ISSN, eISSN, Category
1   original_language, production_companies, produ...
2    name, Location, Cuisine, Facilities and Services
3                                        name, artist
4   department, department_name, division, employe...
5                                   name, Cite, State
6   name, player_positions, club_name, league_name...
7                               name, genres, studios
8                              Author, name, Pub_Year
9      name, domain, industry, locality, linkedin_url
10                              state, state_po, name

                              low_card_cat          datetime
0                                      NaN               NaN
1                                   genres               NaN
2                                      NaN               NaN
3                                     mode               NaN
4              gender, assignment_category  date_first_hired
5                              Museum_Type               NaN
6     preferred_foot, work_rate, body_type               NaN
7                     type, Source, Rating               NaN
8   Categ, Lexile_Band, Location, MPAA_Max               NaN
9                                      NaN               NaN
10                        candidate, party               NaN
Removed 0 columns with missing values on 12 columns
Removed 192 rows with missing values on 4713 rows
Removed 192 rows with missing values on 4521 rows
Removed 0 columns with missing values on 11 columns

/scratch/lgrinszt/skrub/skrub/_table_vectorizer.py:979: UserWarning: Warning raised by pandas when converting column 'DT_DISPATCH' to datetime: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X = self._auto_cast(X)
/scratch/lgrinszt/skrub/skrub/_table_vectorizer.py:979: UserWarning: Warning raised by pandas when converting column 'DT_AWARD' to datetime: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X = self._auto_cast(X)

{'dataset': 'public', 'numeric': 'ID_TYPE, CPV, LOTS_NUMBER, VALUE_EURO_FIN_1, VALUE_EURO_FIN_2, NUMBER_AWARDS, ID_AWARD', 'datetime': 'DT_DISPATCH, DT_AWARD', 'low_card_cat': 'XSD_VERSION, CAE_TYPE, TYPE_OF_CONTRACT, B_FRA_AGREEMENT, B_FRA_CONTRACT, TOP_TYPE, CRIT_CODE', 'high_card_cat': 'name, CAE_ADDRESS, CAE_TOWN, CAE_POSTAL_CODE, ISO_COUNTRY_CODE, WIN_NAME, WIN_TOWN, WIN_COUNTRY_CODE'}
                    dataset  \
0           journal_jcr_cls
1                    movies
2                  michelin
3                   spotify
4           employee_salary
5                   museums
6   fifa_footballplayers_22
7                  jp_anime
8              clear_corpus
9         company_employees
10          us_presidential
11    us_accidents_severity
12      us_accidents_counts
13              wine_review
14         building_permits
15                    agora
16                   public

                                              numeric  \
0                                        %_of_OA_Gold
1   budget, popularity, release_date, vote_average...
2                                                 NaN
3   danceability, energy, key, loudness, speechine...
4                                    year_first_hired
5                  Zip_Code, Locale_Code, Region_Code
6   overall, age, height, weight, international_re...
7                        episodes, favorites, members
8   Google_WC, Sentence_Count, Paragraphs, Flesch-...
9                                        year_founded
10                                                NaN
11  Distance(mi), Temperature(F), Humidity(%), Pre...
12                                                NaN
13                                              price
14  PROCESSING_TIME, STREET_NUMBER, REPORTED_COST,...
15                                              Price
16  ID_TYPE, CPV, LOTS_NUMBER, VALUE_EURO_FIN_1, V...

                                        high_card_cat  \
0                         name, ISSN, eISSN, Category
1   original_language, production_companies, produ...
2    name, Location, Cuisine, Facilities and Services
3                                        name, artist
4   department, department_name, division, employe...
5                                   name, Cite, State
6   name, player_positions, club_name, league_name...
7                               name, genres, studios
8                              Author, name, Pub_Year
9      name, domain, industry, locality, linkedin_url
10                              state, state_po, name
11         County, Zipcode, Airport_Code, State, name
12         name, County, State, Airport_Code, Zipcode
13  country, designation, province, title, variety...
14                                  STREET_NAME, name
15  Vendor, Category, Item, Origin, Destination, name
16  name, CAE_ADDRESS, CAE_TOWN, CAE_POSTAL_CODE, ...

                                         low_card_cat  \
0                                                 NaN
1                                              genres
2                                                 NaN
3                                                mode
4                         gender, assignment_category
5                                         Museum_Type
6                preferred_foot, work_rate, body_type
7                                type, Source, Rating
8              Categ, Lexile_Band, Location, MPAA_Max
9                                                 NaN
10                                   candidate, party
11                               Timezone, Nearby_POI
12                                           Timezone
13                                                NaN
14  PERMIT_TYPE, REVIEW_TYPE, STREET DIRECTION, SU...
15                                                NaN
16  XSD_VERSION, CAE_TYPE, TYPE_OF_CONTRACT, B_FRA...

                              datetime
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                     date_first_hired
5                                  NaN
6                                  NaN
7                                  NaN
8                                  NaN
9                                  NaN
10                                 NaN
11                                 NaN
12                                 NaN
13                                 NaN
14  APPLICATION_START_DATE, ISSUE_DATE
15                                 NaN
16               DT_DISPATCH, DT_AWARD
Removed 0 columns with missing values on 12 columns
Removed 213 rows with missing values on 281302 rows
Removed 213 rows with missing values on 281089 rows
Removed 0 columns with missing values on 11 columns
New shape: (281089, 12)
Original task: classification for kickstarter
Classes (array([0, 1]), array([168113, 112976]))
X shape: (10000, 12), y shape: (10000,)
{'dataset': 'kickstarter', 'numeric': 'ID, goal, pledged, backers, usd pledged', 'datetime': 'deadline, launched', 'low_card_cat': 'main_category, currency, country', 'high_card_cat': 'name, category'}
                    dataset  \
0           journal_jcr_cls
1                    movies
2                  michelin
3                   spotify
4           employee_salary
5                   museums
6   fifa_footballplayers_22
7                  jp_anime
8              clear_corpus
9         company_employees
10          us_presidential
11    us_accidents_severity
12      us_accidents_counts
13              wine_review
14         building_permits
15                    agora
16                   public
17              kickstarter

                                              numeric  \
0                                        %_of_OA_Gold
1   budget, popularity, release_date, vote_average...
2                                                 NaN
3   danceability, energy, key, loudness, speechine...
4                                    year_first_hired
5                  Zip_Code, Locale_Code, Region_Code
6   overall, age, height, weight, international_re...
7                        episodes, favorites, members
8   Google_WC, Sentence_Count, Paragraphs, Flesch-...
9                                        year_founded
10                                                NaN
11  Distance(mi), Temperature(F), Humidity(%), Pre...
12                                                NaN
13                                              price
14  PROCESSING_TIME, STREET_NUMBER, REPORTED_COST,...
15                                              Price
16  ID_TYPE, CPV, LOTS_NUMBER, VALUE_EURO_FIN_1, V...
17            ID, goal, pledged, backers, usd pledged

                                        high_card_cat  \
0                         name, ISSN, eISSN, Category
1   original_language, production_companies, produ...
2    name, Location, Cuisine, Facilities and Services
3                                        name, artist
4   department, department_name, division, employe...
5                                   name, Cite, State
6   name, player_positions, club_name, league_name...
7                               name, genres, studios
8                              Author, name, Pub_Year
9      name, domain, industry, locality, linkedin_url
10                              state, state_po, name
11         County, Zipcode, Airport_Code, State, name
12         name, County, State, Airport_Code, Zipcode
13  country, designation, province, title, variety...
14                                  STREET_NAME, name
15  Vendor, Category, Item, Origin, Destination, name
16  name, CAE_ADDRESS, CAE_TOWN, CAE_POSTAL_CODE, ...
17                                     name, category

                                         low_card_cat  \
0                                                 NaN
1                                              genres
2                                                 NaN
3                                                mode
4                         gender, assignment_category
5                                         Museum_Type
6                preferred_foot, work_rate, body_type
7                                type, Source, Rating
8              Categ, Lexile_Band, Location, MPAA_Max
9                                                 NaN
10                                   candidate, party
11                               Timezone, Nearby_POI
12                                           Timezone
13                                                NaN
14  PERMIT_TYPE, REVIEW_TYPE, STREET DIRECTION, SU...
15                                                NaN
16  XSD_VERSION, CAE_TYPE, TYPE_OF_CONTRACT, B_FRA...
17                   main_category, currency, country

                              datetime
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                     date_first_hired
5                                  NaN
6                                  NaN
7                                  NaN
8                                  NaN
9                                  NaN
10                                 NaN
11                                 NaN
12                                 NaN
13                                 NaN
14  APPLICATION_START_DATE, ISSUE_DATE
15                                 NaN
16               DT_DISPATCH, DT_AWARD
17                  deadline, launched
Removed 0 columns with missing values on 11 columns
Removed 0 rows with missing values on 163065 rows
Removed 0 rows with missing values on 163065 rows
Removed 0 columns with missing values on 10 columns
New shape: (163065, 11)
Original task: regression for medical_charge
Converting to binary classification
Classes (array([0, 1]), array([81533, 81532]))
X shape: (10000, 11), y shape: (10000,)
{'dataset': 'medical_charge', 'numeric': 'Provider_Id, Provider_Zip_Code, Total_Discharges, Average_Covered_Charges, Average_Medicare_Payments', 'high_card_cat': 'DRG_Definition, Provider_Name, Provider_Street_Address, Provider_City, Provider_State, Hospital_Referral_Region_(HRR)_Description'}
                    dataset  \
0           journal_jcr_cls
1                    movies
2                  michelin
3                   spotify
4           employee_salary
5                   museums
6   fifa_footballplayers_22
7                  jp_anime
8              clear_corpus
9         company_employees
10          us_presidential
11    us_accidents_severity
12      us_accidents_counts
13              wine_review
14         building_permits
15                    agora
16                   public
17              kickstarter
18           medical_charge

                                              numeric  \
0                                        %_of_OA_Gold
1   budget, popularity, release_date, vote_average...
2                                                 NaN
3   danceability, energy, key, loudness, speechine...
4                                    year_first_hired
5                  Zip_Code, Locale_Code, Region_Code
6   overall, age, height, weight, international_re...
7                        episodes, favorites, members
8   Google_WC, Sentence_Count, Paragraphs, Flesch-...
9                                        year_founded
10                                                NaN
11  Distance(mi), Temperature(F), Humidity(%), Pre...
12                                                NaN
13                                              price
14  PROCESSING_TIME, STREET_NUMBER, REPORTED_COST,...
15                                              Price
16  ID_TYPE, CPV, LOTS_NUMBER, VALUE_EURO_FIN_1, V...
17            ID, goal, pledged, backers, usd pledged
18  Provider_Id, Provider_Zip_Code, Total_Discharg...

                                        high_card_cat  \
0                         name, ISSN, eISSN, Category
1   original_language, production_companies, produ...
2    name, Location, Cuisine, Facilities and Services
3                                        name, artist
4   department, department_name, division, employe...
5                                   name, Cite, State
6   name, player_positions, club_name, league_name...
7                               name, genres, studios
8                              Author, name, Pub_Year
9      name, domain, industry, locality, linkedin_url
10                              state, state_po, name
11         County, Zipcode, Airport_Code, State, name
12         name, County, State, Airport_Code, Zipcode
13  country, designation, province, title, variety...
14                                  STREET_NAME, name
15  Vendor, Category, Item, Origin, Destination, name
16  name, CAE_ADDRESS, CAE_TOWN, CAE_POSTAL_CODE, ...
17                                     name, category
18  DRG_Definition, Provider_Name, Provider_Street...

                                         low_card_cat  \
0                                                 NaN
1                                              genres
2                                                 NaN
3                                                mode
4                         gender, assignment_category
5                                         Museum_Type
6                preferred_foot, work_rate, body_type
7                                type, Source, Rating
8              Categ, Lexile_Band, Location, MPAA_Max
9                                                 NaN
10                                   candidate, party
11                               Timezone, Nearby_POI
12                                           Timezone
13                                                NaN
14  PERMIT_TYPE, REVIEW_TYPE, STREET DIRECTION, SU...
15                                                NaN
16  XSD_VERSION, CAE_TYPE, TYPE_OF_CONTRACT, B_FRA...
17                   main_category, currency, country
18                                                NaN

                              datetime
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                     date_first_hired
5                                  NaN
6                                  NaN
7                                  NaN
8                                  NaN
9                                  NaN
10                                 NaN
11                                 NaN
12                                 NaN
13                                 NaN
14  APPLICATION_START_DATE, ISSUE_DATE
15                                 NaN
16               DT_DISPATCH, DT_AWARD
17                  deadline, launched
18                                 NaN

/scratch/lgrinszt/skrub/skrub/datasets/_fetching.py:696: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(info["path"], **read_csv_kwargs)

Removed 4 columns with missing values on 42 columns
Removed 685675 rows with missing values on 1578154 rows
Removed 685675 rows with missing values on 892479 rows
Removed 4 columns with missing values on 37 columns
New shape: (892479, 38)
Original task: classification for traffic_violations
Classes (array([0, 1]), array([385598, 506881]))
X shape: (10000, 38), y shape: (10000,)

/scratch/lgrinszt/skrub/skrub/_table_vectorizer.py:979: UserWarning: Warning raised by pandas when converting column 'time_of_stop' to datetime: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X = self._auto_cast(X)

{'dataset': 'traffic_violations', 'numeric': 'latitude, longitude, year', 'datetime': 'date_of_stop, time_of_stop', 'low_card_cat': 'agency, subagency, accident, belts, personal_injury, property_damage, fatal, commercial_license, hazmat, commercial_vehicle, alcohol, work_zone, search_conducted, search_outcome, vehicletype, color, article, race, gender, arrest_type', 'high_card_cat': 'seqid, description, location, search_reason_for_stop, state, make, model, charge, driver_city, driver_state, dl_state, geolocation', 'remainder': 'contributed_to_accident'}
                    dataset  \
0           journal_jcr_cls
1                    movies
2                  michelin
3                   spotify
4           employee_salary
5                   museums
6   fifa_footballplayers_22
7                  jp_anime
8              clear_corpus
9         company_employees
10          us_presidential
11    us_accidents_severity
12      us_accidents_counts
13              wine_review
14         building_permits
15                    agora
16                   public
17              kickstarter
18           medical_charge
19       traffic_violations

                                              numeric  \
0                                        %_of_OA_Gold
1   budget, popularity, release_date, vote_average...
2                                                 NaN
3   danceability, energy, key, loudness, speechine...
4                                    year_first_hired
5                  Zip_Code, Locale_Code, Region_Code
6   overall, age, height, weight, international_re...
7                        episodes, favorites, members
8   Google_WC, Sentence_Count, Paragraphs, Flesch-...
9                                        year_founded
10                                                NaN
11  Distance(mi), Temperature(F), Humidity(%), Pre...
12                                                NaN
13                                              price
14  PROCESSING_TIME, STREET_NUMBER, REPORTED_COST,...
15                                              Price
16  ID_TYPE, CPV, LOTS_NUMBER, VALUE_EURO_FIN_1, V...
17            ID, goal, pledged, backers, usd pledged
18  Provider_Id, Provider_Zip_Code, Total_Discharg...
19                          latitude, longitude, year

                                        high_card_cat  \
0                         name, ISSN, eISSN, Category
1   original_language, production_companies, produ...
2    name, Location, Cuisine, Facilities and Services
3                                        name, artist
4   department, department_name, division, employe...
5                                   name, Cite, State
6   name, player_positions, club_name, league_name...
7                               name, genres, studios
8                              Author, name, Pub_Year
9      name, domain, industry, locality, linkedin_url
10                              state, state_po, name
11         County, Zipcode, Airport_Code, State, name
12         name, County, State, Airport_Code, Zipcode
13  country, designation, province, title, variety...
14                                  STREET_NAME, name
15  Vendor, Category, Item, Origin, Destination, name
16  name, CAE_ADDRESS, CAE_TOWN, CAE_POSTAL_CODE, ...
17                                     name, category
18  DRG_Definition, Provider_Name, Provider_Street...
19  seqid, description, location, search_reason_fo...

                                         low_card_cat  \
0                                                 NaN
1                                              genres
2                                                 NaN
3                                                mode
4                         gender, assignment_category
5                                         Museum_Type
6                preferred_foot, work_rate, body_type
7                                type, Source, Rating
8              Categ, Lexile_Band, Location, MPAA_Max
9                                                 NaN
10                                   candidate, party
11                               Timezone, Nearby_POI
12                                           Timezone
13                                                NaN
14  PERMIT_TYPE, REVIEW_TYPE, STREET DIRECTION, SU...
15                                                NaN
16  XSD_VERSION, CAE_TYPE, TYPE_OF_CONTRACT, B_FRA...
17                   main_category, currency, country
18                                                NaN
19  agency, subagency, accident, belts, personal_i...

                              datetime                remainder
0                                  NaN                      NaN
1                                  NaN                      NaN
2                                  NaN                      NaN
3                                  NaN                      NaN
4                     date_first_hired                      NaN
5                                  NaN                      NaN
6                                  NaN                      NaN
7                                  NaN                      NaN
8                                  NaN                      NaN
9                                  NaN                      NaN
10                                 NaN                      NaN
11                                 NaN                      NaN
12                                 NaN                      NaN
13                                 NaN                      NaN
14  APPLICATION_START_DATE, ISSUE_DATE                      NaN
15                                 NaN                      NaN
16               DT_DISPATCH, DT_AWARD                      NaN
17                  deadline, launched                      NaN
18                                 NaN                      NaN
19          date_of_stop, time_of_stop  contributed_to_accident
Removed 0 columns with missing values on 8 columns
Removed 2 rows with missing values on 9003 rows
Removed 2 rows with missing values on 9001 rows
Removed 0 columns with missing values on 7 columns
New shape: (9001, 8)
Original task: regression for bikewale
Converting to binary classification
Classes (array([0, 1]), array([4645, 4356]))
X shape: (9001, 8), y shape: (9001,)
{'dataset': 'bikewale', 'numeric': 'km_driven, model_year', 'low_card_cat': 'city_posted, fuel_type, owner_type', 'high_card_cat': 'bike_name, color, url'}
                    dataset  \
0           journal_jcr_cls
1                    movies
2                  michelin
3                   spotify
4           employee_salary
5                   museums
6   fifa_footballplayers_22
7                  jp_anime
8              clear_corpus
9         company_employees
10          us_presidential
11    us_accidents_severity
12      us_accidents_counts
13              wine_review
14         building_permits
15                    agora
16                   public
17              kickstarter
18           medical_charge
19       traffic_violations
20                 bikewale

                                              numeric  \
0                                        %_of_OA_Gold
1   budget, popularity, release_date, vote_average...
2                                                 NaN
3   danceability, energy, key, loudness, speechine...
4                                    year_first_hired
5                  Zip_Code, Locale_Code, Region_Code
6   overall, age, height, weight, international_re...
7                        episodes, favorites, members
8   Google_WC, Sentence_Count, Paragraphs, Flesch-...
9                                        year_founded
10                                                NaN
11  Distance(mi), Temperature(F), Humidity(%), Pre...
12                                                NaN
13                                              price
14  PROCESSING_TIME, STREET_NUMBER, REPORTED_COST,...
15                                              Price
16  ID_TYPE, CPV, LOTS_NUMBER, VALUE_EURO_FIN_1, V...
17            ID, goal, pledged, backers, usd pledged
18  Provider_Id, Provider_Zip_Code, Total_Discharg...
19                          latitude, longitude, year
20                              km_driven, model_year

                                        high_card_cat  \
0                         name, ISSN, eISSN, Category
1   original_language, production_companies, produ...
2    name, Location, Cuisine, Facilities and Services
3                                        name, artist
4   department, department_name, division, employe...
5                                   name, Cite, State
6   name, player_positions, club_name, league_name...
7                               name, genres, studios
8                              Author, name, Pub_Year
9      name, domain, industry, locality, linkedin_url
10                              state, state_po, name
11         County, Zipcode, Airport_Code, State, name
12         name, County, State, Airport_Code, Zipcode
13  country, designation, province, title, variety...
14                                  STREET_NAME, name
15  Vendor, Category, Item, Origin, Destination, name
16  name, CAE_ADDRESS, CAE_TOWN, CAE_POSTAL_CODE, ...
17                                     name, category
18  DRG_Definition, Provider_Name, Provider_Street...
19  seqid, description, location, search_reason_fo...
20                              bike_name, color, url

                                         low_card_cat  \
0                                                 NaN
1                                              genres
2                                                 NaN
3                                                mode
4                         gender, assignment_category
5                                         Museum_Type
6                preferred_foot, work_rate, body_type
7                                type, Source, Rating
8              Categ, Lexile_Band, Location, MPAA_Max
9                                                 NaN
10                                   candidate, party
11                               Timezone, Nearby_POI
12                                           Timezone
13                                                NaN
14  PERMIT_TYPE, REVIEW_TYPE, STREET DIRECTION, SU...
15                                                NaN
16  XSD_VERSION, CAE_TYPE, TYPE_OF_CONTRACT, B_FRA...
17                   main_category, currency, country
18                                                NaN
19  agency, subagency, accident, belts, personal_i...
20                 city_posted, fuel_type, owner_type

                              datetime                remainder
0                                  NaN                      NaN
1                                  NaN                      NaN
2                                  NaN                      NaN
3                                  NaN                      NaN
4                     date_first_hired                      NaN
5                                  NaN                      NaN
6                                  NaN                      NaN
7                                  NaN                      NaN
8                                  NaN                      NaN
9                                  NaN                      NaN
10                                 NaN                      NaN
11                                 NaN                      NaN
12                                 NaN                      NaN
13                                 NaN                      NaN
14  APPLICATION_START_DATE, ISSUE_DATE                      NaN
15                                 NaN                      NaN
16               DT_DISPATCH, DT_AWARD                      NaN
17                  deadline, launched                      NaN
18                                 NaN                      NaN
19          date_of_stop, time_of_stop  contributed_to_accident
20                                 NaN                      NaN
Removed 2 columns with missing values on 12 columns
Removed 1652 rows with missing values on 3967 rows
Removed 1652 rows with missing values on 2315 rows
Removed 2 columns with missing values on 9 columns
New shape: (2315, 10)
Original task: regression for goodreads
Converting to binary classification
Classes (array([0, 1]), array([1167, 1148]))
X shape: (2315, 10), y shape: (2315,)
{'dataset': 'goodreads', 'numeric': 'PageCount, NumberofRatings', 'low_card_cat': 'Format, Language', 'high_card_cat': 'Title, Description, FirstAuthor, NumberofReviews, Publisher, PublishDate'}
                    dataset  \
0           journal_jcr_cls
1                    movies
2                  michelin
3                   spotify
4           employee_salary
5                   museums
6   fifa_footballplayers_22
7                  jp_anime
8              clear_corpus
9         company_employees
10          us_presidential
11    us_accidents_severity
12      us_accidents_counts
13              wine_review
14         building_permits
15                    agora
16                   public
17              kickstarter
18           medical_charge
19       traffic_violations
20                 bikewale
21                goodreads

                                              numeric  \
0                                        %_of_OA_Gold
1   budget, popularity, release_date, vote_average...
2                                                 NaN
3   danceability, energy, key, loudness, speechine...
4                                    year_first_hired
5                  Zip_Code, Locale_Code, Region_Code
6   overall, age, height, weight, international_re...
7                        episodes, favorites, members
8   Google_WC, Sentence_Count, Paragraphs, Flesch-...
9                                        year_founded
10                                                NaN
11  Distance(mi), Temperature(F), Humidity(%), Pre...
12                                                NaN
13                                              price
14  PROCESSING_TIME, STREET_NUMBER, REPORTED_COST,...
15                                              Price
16  ID_TYPE, CPV, LOTS_NUMBER, VALUE_EURO_FIN_1, V...
17            ID, goal, pledged, backers, usd pledged
18  Provider_Id, Provider_Zip_Code, Total_Discharg...
19                          latitude, longitude, year
20                              km_driven, model_year
21                         PageCount, NumberofRatings

                                        high_card_cat  \
0                         name, ISSN, eISSN, Category
1   original_language, production_companies, produ...
2    name, Location, Cuisine, Facilities and Services
3                                        name, artist
4   department, department_name, division, employe...
5                                   name, Cite, State
6   name, player_positions, club_name, league_name...
7                               name, genres, studios
8                              Author, name, Pub_Year
9      name, domain, industry, locality, linkedin_url
10                              state, state_po, name
11         County, Zipcode, Airport_Code, State, name
12         name, County, State, Airport_Code, Zipcode
13  country, designation, province, title, variety...
14                                  STREET_NAME, name
15  Vendor, Category, Item, Origin, Destination, name
16  name, CAE_ADDRESS, CAE_TOWN, CAE_POSTAL_CODE, ...
17                                     name, category
18  DRG_Definition, Provider_Name, Provider_Street...
19  seqid, description, location, search_reason_fo...
20                              bike_name, color, url
21  Title, Description, FirstAuthor, NumberofRevie...

                                         low_card_cat  \
0                                                 NaN
1                                              genres
2                                                 NaN
3                                                mode
4                         gender, assignment_category
5                                         Museum_Type
6                preferred_foot, work_rate, body_type
7                                type, Source, Rating
8              Categ, Lexile_Band, Location, MPAA_Max
9                                                 NaN
10                                   candidate, party
11                               Timezone, Nearby_POI
12                                           Timezone
13                                                NaN
14  PERMIT_TYPE, REVIEW_TYPE, STREET DIRECTION, SU...
15                                                NaN
16  XSD_VERSION, CAE_TYPE, TYPE_OF_CONTRACT, B_FRA...
17                   main_category, currency, country
18                                                NaN
19  agency, subagency, accident, belts, personal_i...
20                 city_posted, fuel_type, owner_type
21                                   Format, Language

                              datetime                remainder
0                                  NaN                      NaN
1                                  NaN                      NaN
2                                  NaN                      NaN
3                                  NaN                      NaN
4                     date_first_hired                      NaN
5                                  NaN                      NaN
6                                  NaN                      NaN
7                                  NaN                      NaN
8                                  NaN                      NaN
9                                  NaN                      NaN
10                                 NaN                      NaN
11                                 NaN                      NaN
12                                 NaN                      NaN
13                                 NaN                      NaN
14  APPLICATION_START_DATE, ISSUE_DATE                      NaN
15                                 NaN                      NaN
16               DT_DISPATCH, DT_AWARD                      NaN
17                  deadline, launched                      NaN
18                                 NaN                      NaN
19          date_of_stop, time_of_stop  contributed_to_accident
20                                 NaN                      NaN
21                                 NaN                      NaN
Removed 0 columns with missing values on 10 columns
Removed 18406 rows with missing values on 41665 rows
Removed 18406 rows with missing values on 23259 rows
Removed 0 columns with missing values on 9 columns
New shape: (23259, 10)
Original task: regression for zomato
Converting to binary classification
Classes (array([0, 1]), array([14245,  9014]))
X shape: (10000, 10), y shape: (10000,)
{'dataset': 'zomato', 'numeric': 'votes', 'low_card_cat': 'online_order, book_table, listed_in(type)', 'high_card_cat': 'name, location, rest_type, dish_liked, cuisines, approx_cost(for two people)'}
                    dataset  \
0           journal_jcr_cls
1                    movies
2                  michelin
3                   spotify
4           employee_salary
5                   museums
6   fifa_footballplayers_22
7                  jp_anime
8              clear_corpus
9         company_employees
10          us_presidential
11    us_accidents_severity
12      us_accidents_counts
13              wine_review
14         building_permits
15                    agora
16                   public
17              kickstarter
18           medical_charge
19       traffic_violations
20                 bikewale
21                goodreads
22                   zomato

                                              numeric  \
0                                        %_of_OA_Gold
1   budget, popularity, release_date, vote_average...
2                                                 NaN

In [69]:
features_df.drop("remainder", inplace=True, axis=1)

In [70]:
def truncate_long_entries(data, max_length=40):
    """Truncate entries in DataFrame that exceed max_length."""
    for col in data.columns:
        data[col] = data[col].apply(lambda x: (x[:max_length] + '...') if len(str(x)) > max_length else x)
    return data

In [71]:
# sort by dataset
features_df.sort_values("dataset")

,dataset,numeric,high_card_cat,low_card_cat,datetime
27,adult,"age, fnlwgt, educational-num, capital-gain, ca...",native-country,"workclass, education, marital-status, occupati...",NaN
15,agora,Price,"Vendor, Category, Item, Origin, Destination, name",NaN,NaN
26,beer_profile_and_ratings,"ABV, Min IBU, Max IBU, Astringency, Body, Alco...","Name, Style, Brewery, Beer Name (Full), Descri...",NaN,NaN
20,bikewale,"km_driven, model_year","bike_name, color, url","city_posted, fuel_type, owner_type",NaN
14,building_permits,"PROCESSING_TIME, STREET_NUMBER, REPORTED_COST,...","STREET_NAME, name","PERMIT_TYPE, REVIEW_TYPE, STREET DIRECTION, SU...","APPLICATION_START_DATE, ISSUE_DATE"
8,clear_corpus,"Google_WC, Sentence_Count, Paragraphs, Flesch-...","Author, name, Pub_Year","Categ, Lexile_Band, Location, MPAA_Max",NaN
9,company_employees,year_founded,"name, domain, industry, locality, linkedin_url",NaN,NaN
24,employee-remuneration-and-expenses-earning-ove...,"Year, Expenses","Name, Title",Department,NaN
4,employee_salary,year_first_hired,"department, department_name, division, employe...","gender, assignment_category",date_first_hired
6,fifa_footballplayers_22,"overall, age, height, weight, international_re...","name, player_positions, club_name, league_name...","preferred_foot, work_rate, body_type",NaN
21,goodreads,"PageCount, NumberofRatings","Title, Description, FirstAuthor, NumberofRevie...","Format, Language",NaN
0,journal_jcr_cls,%_of_OA_Gold,"name, ISSN, eISSN, Category",NaN,NaN
7,jp_anime,"episodes, favorites, members","name, genres, studios","type, Source, Rating",NaN
17,kickstarter,"ID, goal, pledged, backers, usd pledged","name, category","main_category, currency, country","deadline, launched"
18,medical_charge,"Provider_Id, Provider_Zip_Code, Total_Discharg...","DRG_Definition, Provider_Name, Provider_Street...",NaN,NaN
2,michelin,NaN,"name, Location, Cuisine, Facilities and Services",NaN,NaN
1,movies,"budget, popularity, release_date, vote_average...","original_language, production_companies, produ...",genres,NaN
5,museums,"Zip_Code, Locale_Code, Region_Code","name, Cite, State",Museum_Type,NaN
23,nfl_contract,"draft_year, rnd, pick, g, year_signed, gtd","tm, player, search_key, signing_tm",pos,NaN
16,public,"ID_TYPE, CPV, LOTS_NUMBER, VALUE_EURO_FIN_1, V...","name, CAE_ADDRESS, CAE_TOWN, CAE_POSTAL_CODE, ...","XSD_VERSION, CAE_TYPE, TYPE_OF_CONTRACT, B_FRA...","DT_DISPATCH, DT_AWARD"
25,ramen_ratings,NaN,"Brand, Variety, Country",Style,NaN
3,spotify,"danceability, energy, key, loudness, speechine...","name, artist",mode,NaN
19,traffic_violations,"latitude, longitude, year","seqid, description, location, search_reason_fo...","agency, subagency, accident, belts, personal_i...","date_of_stop, time_of_stop"
12,us_accidents_counts,NaN,"name, County, State, Airport_Code, Zipcode",Timezone,NaN
11,us_accidents_severity,"Distance(mi), Temperature(F), Humidity(%), Pre...","County, Zipcode, Airport_Code, State, name","Timezone, Nearby_POI",NaN
10,us_presidential,NaN,"state, state_po, name","candidate, party",NaN
13,wine_review,price,"country, designation, province, title, variety...",NaN,NaN
22,zomato,votes,"name, location, rest_type, dish_liked, cuisine...","online_order, book_table, listed_in(type)",NaN

In [72]:
# copy features_df
fe

NameError: name 'fe' is not defined

In [73]:
df_truncated = truncate_long_entries(features_df, max_length=30)  # Adjust max_length as needed

In [74]:
df_truncated

,dataset,numeric,high_card_cat,low_card_cat,datetime
0,journal_jcr_cls,%_of_OA_Gold,"name, ISSN, eISSN, Category",NaN,NaN
1,movies,"budget, popularity, release_da...","original_language, production_...",genres,NaN
2,michelin,NaN,"name, Location, Cuisine, Facil...",NaN,NaN
3,spotify,"danceability, energy, key, lou...","name, artist",mode,NaN
4,employee_salary,year_first_hired,"department, department_name, d...","gender, assignment_category",date_first_hired
5,museums,"Zip_Code, Locale_Code, Region_...","name, Cite, State",Museum_Type,NaN
6,fifa_footballplayers_22,"overall, age, height, weight, ...","name, player_positions, club_n...","preferred_foot, work_rate, bod...",NaN
7,jp_anime,"episodes, favorites, members","name, genres, studios","type, Source, Rating",NaN
8,clear_corpus,"Google_WC, Sentence_Count, Par...","Author, name, Pub_Year","Categ, Lexile_Band, Location, ...",NaN
9,company_employees,year_founded,"name, domain, industry, locali...",NaN,NaN
10,us_presidential,NaN,"state, state_po, name","candidate, party",NaN
11,us_accidents_severity,"Distance(mi), Temperature(F), ...","County, Zipcode, Airport_Code,...","Timezone, Nearby_POI",NaN
12,us_accidents_counts,NaN,"name, County, State, Airport_C...",Timezone,NaN
13,wine_review,price,"country, designation, province...",NaN,NaN
14,building_permits,"PROCESSING_TIME, STREET_NUMBER...","STREET_NAME, name","PERMIT_TYPE, REVIEW_TYPE, STRE...","APPLICATION_START_DATE, ISSUE_..."
15,agora,Price,"Vendor, Category, Item, Origin...",NaN,NaN
16,public,"ID_TYPE, CPV, LOTS_NUMBER, VAL...","name, CAE_ADDRESS, CAE_TOWN, C...","XSD_VERSION, CAE_TYPE, TYPE_OF...","DT_DISPATCH, DT_AWARD"
17,kickstarter,"ID, goal, pledged, backers, us...","name, category","main_category, currency, count...","deadline, launched"
18,medical_charge,"Provider_Id, Provider_Zip_Code...","DRG_Definition, Provider_Name,...",NaN,NaN
19,traffic_violations,"latitude, longitude, year","seqid, description, location, ...","agency, subagency, accident, b...","date_of_stop, time_of_stop"
20,bikewale,"km_driven, model_year","bike_name, color, url","city_posted, fuel_type, owner_...",NaN
21,goodreads,"PageCount, NumberofRatings","Title, Description, FirstAutho...","Format, Language",NaN
22,zomato,votes,"name, location, rest_type, dis...","online_order, book_table, list...",NaN
23,nfl_contract,"draft_year, rnd, pick, g, year...","tm, player, search_key, signin...",pos,NaN
24,employee-remuneration-and-expe...,"Year, Expenses","Name, Title",Department,NaN
25,ramen_ratings,NaN,"Brand, Variety, Country",Style,NaN
26,beer_profile_and_ratings,"ABV, Min IBU, Max IBU, Astring...","Name, Style, Brewery, Beer Nam...",NaN,NaN
27,adult,"age, fnlwgt, educational-num, ...",native-country,"workclass, education, marital-...",NaN

In [65]:
#all lower case
for col in df_truncated.columns:
    df_truncated[col] = df_truncated[col].apply(lambda x:x.lower())

AttributeError: 'float' object has no attribute 'lower'

In [75]:
df_truncated

,dataset,numeric,high_card_cat,low_card_cat,datetime
0,journal_jcr_cls,%_of_OA_Gold,"name, ISSN, eISSN, Category",NaN,NaN
1,movies,"budget, popularity, release_da...","original_language, production_...",genres,NaN
2,michelin,NaN,"name, Location, Cuisine, Facil...",NaN,NaN
3,spotify,"danceability, energy, key, lou...","name, artist",mode,NaN
4,employee_salary,year_first_hired,"department, department_name, d...","gender, assignment_category",date_first_hired
5,museums,"Zip_Code, Locale_Code, Region_...","name, Cite, State",Museum_Type,NaN
6,fifa_footballplayers_22,"overall, age, height, weight, ...","name, player_positions, club_n...","preferred_foot, work_rate, bod...",NaN
7,jp_anime,"episodes, favorites, members","name, genres, studios","type, Source, Rating",NaN
8,clear_corpus,"Google_WC, Sentence_Count, Par...","Author, name, Pub_Year","Categ, Lexile_Band, Location, ...",NaN
9,company_employees,year_founded,"name, domain, industry, locali...",NaN,NaN
10,us_presidential,NaN,"state, state_po, name","candidate, party",NaN
11,us_accidents_severity,"Distance(mi), Temperature(F), ...","County, Zipcode, Airport_Code,...","Timezone, Nearby_POI",NaN
12,us_accidents_counts,NaN,"name, County, State, Airport_C...",Timezone,NaN
13,wine_review,price,"country, designation, province...",NaN,NaN
14,building_permits,"PROCESSING_TIME, STREET_NUMBER...","STREET_NAME, name","PERMIT_TYPE, REVIEW_TYPE, STRE...","APPLICATION_START_DATE, ISSUE_..."
15,agora,Price,"Vendor, Category, Item, Origin...",NaN,NaN
16,public,"ID_TYPE, CPV, LOTS_NUMBER, VAL...","name, CAE_ADDRESS, CAE_TOWN, C...","XSD_VERSION, CAE_TYPE, TYPE_OF...","DT_DISPATCH, DT_AWARD"
17,kickstarter,"ID, goal, pledged, backers, us...","name, category","main_category, currency, count...","deadline, launched"
18,medical_charge,"Provider_Id, Provider_Zip_Code...","DRG_Definition, Provider_Name,...",NaN,NaN
19,traffic_violations,"latitude, longitude, year","seqid, description, location, ...","agency, subagency, accident, b...","date_of_stop, time_of_stop"
20,bikewale,"km_driven, model_year","bike_name, color, url","city_posted, fuel_type, owner_...",NaN
21,goodreads,"PageCount, NumberofRatings","Title, Description, FirstAutho...","Format, Language",NaN
22,zomato,votes,"name, location, rest_type, dis...","online_order, book_table, list...",NaN
23,nfl_contract,"draft_year, rnd, pick, g, year...","tm, player, search_key, signin...",pos,NaN
24,employee-remuneration-and-expe...,"Year, Expenses","Name, Title",Department,NaN
25,ramen_ratings,NaN,"Brand, Variety, Country",Style,NaN
26,beer_profile_and_ratings,"ABV, Min IBU, Max IBU, Astring...","Name, Style, Brewery, Beer Nam...",NaN,NaN
27,adult,"age, fnlwgt, educational-num, ...",native-country,"workclass, education, marital-...",NaN

In [67]:
df_truncated = df_truncated.sort_values("dataset")
# truncate longest rows with ...
df_truncated.to_csv("../results/features_per_dataset.csv")